{
      margin: 0;
      padding: 0;
    }

    body {
      background-color: rgb(74, 38, 140);
      color: rgb(148, 140, 140);
      2 font-family: 'Poppins', sans-serif;
    }

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 30px;
      background-color: rgb(34, 8, 63);

    }

    nav ul {
      display: flex;
      justify-content: center;
    }

    nav ul li {
      list-style: none;
      margin: 0 23px;
    }

    .left {
      font-size: 1.5rem;
    }

    .firstSection {
      display: flex;
      justify-content: space-around;
      margin: 80px 0;

    }

    .firstSection div {
      width: 30%;

    }

    .leftSection {
      font-size: 3rem;
      margin: 30px 0;

    }

    .rightSection img {


     
      width: 90%;
    }

    .yellow {
      color: rgb(227, 12, 12);
    }